<ul id="skills">
    <li class="skill">Javascript</li>
    <li class="skill">CSS</li>
    <li class="skill">HTML</li>
    <li class="skill">AngularJS</li>
    <li class="skill">Java</li>
    <li class="skill">Jenkins</li>
    <li class="skill">Confluence</li>
    <li class="skill">Jira</li>
    <li class="skill">Agile</li>
    <li class="skill">Scrum certification</li>
    <li class="skill">VVM</li>
    <li class="skill">Git</li>
    <li class="skill">Gitkraken</li>
    <li class="skill">Gitlab</li>
    <li class="skill">Suite Elastic</li>
    <li class="skill">NodeJS</li>
    <li class="skill">Python</li>
</ul>