<ul class="formation">
    <li class="where">Capgemini Nantes</li>
    <li class="when">2018 - Aujourd'hui</li>
    <li class="what">
        Machine Learning : traitement des données SNCF
        Reconnaissance d’afficheurs en gare
        Détection d’anomalies
        Projet en équipe pour la SNCF en Agile
        Fonctionnement par Sprint de 2 à 3 semaines
        Tableaux de bord avec la suite Elastic
    </li>
</ul>
<ul class="formation">
    <li class="where">Accenture Technology Solution Nantes</li>
    <li class="when">2018 - 18 semaines</li>
    <li class="what">Développement d’une application avec l’outil JHipster</li>
</ul>
<ul class="school">
    <li class="where">Ecole EPSI Nantes</li>
    <li class="when">2019 - 2021</li>
    <li class="what">
        BAC+4 et BAC+5
        Formation en alternance chez Capgemini
        Méthodes et Projet, Etudes et Développement
        Spécialisation Big Data et IA, mémoire sur la supervision technique
    </li>
</ul>
<ul class="school">
    <li class="where">Licence Pro MiAR Nantes</li>
    <li class="when">2018 - 2019</li>
    <li class="what">
        BAC+3
        Formation en alternance chez Capgemini
        Programmation Objet, Programmation Mobile, Web Client/Serveur,
        Outil de Développement, Programmation répartie...
    </li>
</ul>
<ul class="school">
    <li class="where">DUT Informatique Nantes</li>
    <li class="when">2016 - 2018</li>
    <li class="what">
        BAC+1 et BAC+2
        Modules Informatiques (développement web, database, reseau...)
        Modules généraux (anglais, droit, comptabilité, gestion de projet...)
    </li>
</ul>